.container {
    text-align: center;
    align-items: center;
    padding: 2rem;
}

.container h1, .container h2, .container h3 {
    margin: .5rem;
}

.container hr {
    margin-bottom: 2rem;
}

.container p {
    margin-bottom: 2rem;
}